[build]
  publish = "public"
  command = "hugo"

  [build.environment]
    HUGO_VERSION = "0.145.0"
    HUGO_ENV = "production"
    HUGO_ENABLEGITINFO = "true"

[[plugins]]
  package = "@netlify/plugin-lighthouse"

  [plugins.inputs.settings]
    preset = "desktop"
